@import '../../style/variables';

.preview {
    width: 100%;
    margin-bottom: 20px;
    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        border: 2px solid $red;
        display: block;
    }
}